@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    color: white;
    
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(assets/background.svg) ;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

label{
    font-weight: bold;
}

section{
    width: 500px;
    height: 700px;
    background-color: #111827;
    display: flex;
    flex-direction: column;
}

h2{
    text-align: left;
    font-weight: 900;
}

div{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
}
input, select{
    margin-top: 5px;
    height: 45px;
    background-color: #374151;
    border: none;
    border-radius: 5px;
}
textarea{
    margin-top: 5px;
    background-color: #374151;
    border: none;
    border-radius: 5px;
}

.Botones{
    display: flex;
    flex-direction: row;
}

button{
    border-radius: 10px;
    align-items: center;
    height: 45px;
}
.actualizar{
    background-color: #059669;
    font-weight: bold;
    padding: 0 25px;
}

.borrar{
    border: red 1px solid;
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100px;
    margin-left: 40px;
    background-color: transparent;
    font-weight: bold;
}
